<<<<<<< HEAD
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #bcdceb;

}
header{
    background-color: #345a50;
    padding: 20px;
    text-align: center;
    
}
=======
/* styling for project */
>>>>>>> 398ea43caaae2fc404a82b3e6adebbf1c158529e
